<form class="form-inline my-2 my-lg-0" (ngSubmit)="searchAuthor()" [formGroup]="searchForm">
  <mat-form-field>
    <input matInput class="form-control mr-sm-2" type="text" placeholder="Search" formControlName="searchAuthor" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let author of authors | async" [value]="author.lastName">
        <span>{{ author.lastName }}</span>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
